.App {
  width: 50vw;
  margin: auto;
}
.form-container {
  text-align: left;
}
.form-container label {
  display: block;
}
.form-container input {
  display: block;
  padding: 3px;
}
.form-container div {
  margin-bottom: 5px;
}
.mint-btn-container {
  margin-top: 30px;
}
.connect-wallet-container {
  margin: 30px 0;
}
button {
  padding: 5px 10px;
}
